.upload-wizard-divider{
  margin-top: 1rem;
}

.upload-files{
  width: 5rem;
}

.upload-modal-wizard{
  .modal-contents{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
  }
}