@import "../../app-colors";

.st0-white{fill:#FFFFFF;}
.st1-light-grey{fill:#A5B1B7;}
.st2-med-grey{fill:#818789;}
.st3-med-grey-two{fill:#8A9396;}
.st4-light-green{fill:#BBDCB0;}
.st5-med-green{fill:#8EA586;}
.st6-light-yellow{fill:#D4EACC;}
.st7-bright-yellow{fill:#E7CE17;}
.st8-med-yellow{fill:#F4E9A2;}
.st9-yellow-green{fill:#BAAF2C;}
.st10-light-purple{fill:#A184AF;}
.st11-purple{fill:#C6B2D9;}
.st12-dark-purple{fill:#776684;}
.st13-blue{fill:#498096;}
.st14-blue-desat{fill:#8AA2B3;}
.st15-blue-dark{fill:#566F7C;}
.st16-grey{fill:#666666;}
.st17{fill:none;stroke:#666666;  }
.st18-dark-grey{fill:none;stroke:#666666;  }
.st19{fill:url(#SVGID_1_);}
.st20{fill:url(#SVGID_2_);}
.st21{fill:url(#SVGID_3_);}
.st22{fill:url(#SVGID_4_);}
.st23{fill:url(#SVGID_5_);}
.st24{fill:url(#SVGID_6_);}

.image-box{
  background-size: contain;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}



