@import "../../app-colors";

.data-grid{
  margin: 0 0.5rem 0 0.5rem;
  box-sizing: border-box;
  overflow: auto;
  .viewport{
    display: grid;
    grid-auto-columns: minmax(max-content, 100%) max-content;
    .cell{
      font-size: 0.75rem;
     // padding: 0.25rem 0.5rem;
      display: inline;
      min-width: 3rem;
      box-sizing: border-box;
    }
  }
}

.cell{
  &:active{
    box-shadow: inset 0px 0px 0.25rem 0px rgba(0,0,0,0.75);
  }
  &.details{
    position: sticky;
    right: 0;
    background-color: white;
    min-width: 2rem !important;
    button{
      position: absolute;
      top: 0;
      right: 0rem;
      bottom: 0;
      height: 100%;
    }
  }
  &.checkbox-main{
    position: sticky;
    left: 0;
    background-color: white;
    min-width: 1rem !important;
    button{
      height: 100%;
    }
  }
}

.cell-editable{
  padding: 0.5rem 0.75rem;
  cursor: cell;
  position: relative;

  p{
    &.selected{
      color: white;
    }
    user-select: none;
  }

  &:hover .affordance{
    background-color: $Primary;
    right: 0;
    top: 0;
  }
  &:hover p{
    color: white;
    pointer-events: none;
  }
     .affordance{
       &.selected{
         background-color: $black_60;
         right: 0;
         top: 0;
       }

       position: absolute;
       border: dashed #b9b7bc;
       bottom: 0;
       left: 0;
       border-width: 0 0 1px 1px;
       /* background-color: aquamarine; */
       z-index: -1;
       right: 0.5rem;
       top: 65%;
     }
}

.cell{
  &.checkbox-main{
    padding-left: 0 !important;
    padding-right: 0 !important;
    btn.btn-transparent-bg{

    }
    btn.checkbox-checked{
      margin: -0.125rem;
    }
  }
}

.checkbox-checked{
  margin: -0.125rem;
}




