@import "../../app-colors";

.data-grid{
  margin: 0 0.5rem 0 0.5rem;
  box-sizing: border-box;
  overflow: auto;
  &.drawer-open{
    margin-bottom: 40vh;
  }
  .viewport{
    display: inline-grid;
    width: 100%;
    //grid-auto-columns: minmax(max-content, 100%) max-content;
    .cell{
      font-size: 0.75rem;
     // padding: 0.25rem 0.5rem;
      display: inline;
      min-width: 3rem;
      box-sizing: border-box;
      &.checkbox-main{
        .btn-label{
          margin-left: 0;
        }
      }
      .checkbox-checked{
        .btn-label{
          margin-left: 0;
        }
      }
      .checkbox-unchecked{
        .btn-label{
          margin-left: 0;
        }
      }
      &.details{
        border: solid $black_20;
        border-width: 0 0 1px 1px;

        .fader-right-to-left{
          position: absolute;
          top: 0px;
          bottom: -1px;
          left: -0.5rem;
          right: 100%;
          background-repeat-y: repeat;
          pointer-events: none;
        }
      }
    }
  }
}

.cell{
  .media-cell{
    position: relative;

    .thumb{
      height: 100%;
      background-position: center;
      background-size: cover;
    }
    .hover-row{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right:0;
    }
    .affordance {
      &.selected{
        background-color: $black_60;
        position: absolute;
        top: -0.25rem;
        bottom: -0.25rem;
        left: -0.25rem;
        right: -0.25rem;
        z-index: -1;
      }
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right:0;
    }
  }
  &:active{
    box-shadow: inset 0px 0px 0.25rem 0px rgba(0,0,0,0.75);
  }
  &.details{
    position: sticky;
    right: 0;
    background-color: white;
    min-width: 2rem !important;
    button{
      position: absolute;
      top: 0;
      right: 0rem;
      bottom: 0;
      height: 100%;
    }
  }
  &.checkbox-main{
    position: relative;
    border: solid $black_30;
    border-width: 0 1px 1px 0;
    position: sticky;
    left: 0;
    background-color: white;
    min-width: 1rem !important;
    button.btn-transparent-bg{
      &.checkbox-checked{
        padding: 0.25rem;
      }
    }

    .shading-l-r{
      position: absolute;
      top: 0px;
      bottom: -1px;
      left: 100%;
      right: -0.5rem ;
      background-repeat-y: repeat;
      pointer-events: none;
    }
    &:active{
      box-shadow: none;
    }

    button{
      height: 100%;
    }
  }
  button.add-column{
    &.btn-default{
      box-shadow: none;
      border-width: 1px 1px 1px 0 !important;
      border: solid $Core_60;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0 1rem 1rem 0;
      background-color: white;
      .btn-descriptors{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.cell-editable{
  padding: 0.5rem 0.75rem;
  cursor: cell;
  position: relative;

  p{
    &.selected{
      color: white;
    }
    pointer-events: none;
    user-select: none;
  }
  .hover-row{

  }

  &:hover .affordance{
    background-color: $Primary;
    right: 0;
    top: 0;
  }
  &:hover p{
    color: white;
    pointer-events: none;
  }
   .affordance{
     &.selected{
       background-color: $black_60 !important;
       right: 0;
       top: 0;
     }
     pointer-events: none;
     position: absolute;
     border: dashed #b9b7bc;
     bottom: 0;
     left: 0;
     border-width: 0 0 1px 1px;
     z-index: -1;
     right: 0.5rem;
     top: 65%;
   }
}

.cell{
  &:hover{
    .cell-editable{
      z-index: 100;
    }
  }
  &.checkbox-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    btn.btn-transparent-bg{
        &.checkbox-checked{
          padding: 0.25rem;
        }
    }
  }
}

//DRAG AREA
.drag-area{
  position: absolute;
  background-color: rgba(147, 67, 152, 0.3);
  border-color: white;
  pointer-events: none;
  border-width: 2px;
  border-style: solid;
  z-index: 100000;
  padding: 0.25rem;
 .drag-inner-container{
   position: relative;
   height: 100%;
   width: 100%;
  border: 1px dotted white;
   .tool-tip{
     margin-left: 1rem;
     width: 12rem;
     position: absolute;
     right: -12rem;
     top: 0;
   }
 }

}


//COLUMN HEADER
.grid-header{
  .btn-descriptors{
    pointer-events: none;
  }
  //pointer-events: none;
  background-color: white;
  position: sticky;
  top:0;
  background-color: white;
  border-bottom: 2px solid #b0b0b0;
}

//FOOTER

//SELECTED COLUMN INDICATOR

.cell {
  &.selected-indicator
  {
    border-width: 0 3px 3px 3px;
    border-style: double;
    border-color: $Core_60;
    //background-color: rgba(122, 12, 119, 0.4);
    pointer-events: none;
    position: relative;
    z-index: 110;
    .handle
    {
      width : 0.75rem;
      height : 0.75rem;
      border-radius: 0.25rem;
      position: absolute;
      background-color: $Core_60;
      border: 1px solid white;
      bottom: -0.5rem;
      right: -0.5rem;
    }
    &:before
    {
      content: " ";
      position: absolute;
      z-index: 0;
      top: 2px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 1px solid #ffffff;
    }
  }
}

.grid-header{
  &.active{
    border-bottom: none;
  }
}

//TODO this is to account for scroll bar, we need to replace with super scroller
.catman-footer{
  margin-bottom: 12px;
}




