
@keyframes expand-size {
  0% {
    height: 30vh; width: 60vh;
  }
  100% {
    height: 80vh; width: 90vh;
  }
}

@keyframes expand-width {
  from {width: 30vh;}
  to {width: 80vh}
}

.wizard-content{
  padding: 0 1rem 1rem 1rem;
  border: 0;
  flex-grow: 1;
  min-width: 60vw;
  display: flex;
  flex-flow: column;

  &.expand-size{
    animation-name: expand-size;
    animation-duration: 1s;
    height: 80vh;
    width: 90vw;
  }
  &.full-width{

  }
  .sentence-input{
    display: inline-flex;
    align-self: center;
    align-items: center;
    p{

      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }
  .interaction-area{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: calc(100% - 2.5rem);
    .vert-center-area{
      display: inline-flex;
      align-self: center;
      margin: auto;
      max-width: 100%;
      height: inherit;
    }
    .footer-btn-bar{
      margin-bottom: -1.5rem;
    }
  }
  .footer-btn-bar{
    display: inline-flex;
  }
}


.upload-modal-wizard{
  p{
    &:first-of-type{
      margin-left: 0;
    }
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    align-self: center;
  }
  .add-blank-stubs-area{
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
  }
}