@import "../../app-colors";

.InputBox{
  text-overflow: ellipsis;
  box-sizing: border-box;
  outline: none;
  border: none;
  height: 2rem;
  width: 100%;
  background-color: transparent;
  color: #221924;
  border: 1px solid $black_50;
  margin-top: -0.75rem;
  z-index: 1;
  padding-top: 0.75rem;


}

.pl-TextInput-wrapper{
  position: relative;
  overflow: visible;
  display: inline-flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid $black_60;
  color: #221924;
  padding: 0.25rem;
  transition: box-shadow .25s,border-color .25s;
  margin-right: 0.5rem;
  &:focus-within{
    box-shadow: 0 0 0 1px #1364f1, 0 0 4px #1364f1;
  }
  .pl-FloatLabel-text{
    pointer-events: none;
    color: #615c65;
    font-size: 0.65rem;
    height: 0.65rem;
    margin-right: 0.75rem;
  }
}