@import "view-components/list-menu/list-menu";
@import "view-components/button/app-buttons";
@import "view-components/data-grid/data-grid";
@import "view-components/file-menu-bar/file-menu-bar";
@import "view-components/heru-tool-tip/heru-tool-tip";
@import "views/_common/main-header-area/main-header-area";
@import "view-components/sticky-panel/sticky-panel";
@import "view-components/tiles/tile-component";
@import "view-components/ribbon/ribbon";
@import "view-components/toggle-menu/toggle-component";
@import "svg/icons/icons";
@import "svg/illustrations/illustrations";
@import "view-components/info-panel/info-panel";
@import "view-components/title-area/title-area";
@import "view-components/text-input/text-input";
@import "views/catalog-views/catalog-details/single-product-page";
.catman-app{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  .data-grid{
    flex-grow: 1;
  }
  .title-area{
    margin: 0 0.5rem 0 0.5rem;
  }
}