@import "views/_common/main-header-area/main-header-area";

@import "svg/icons/icons";
@import "svg/illustrations/illustrations";

@import "view-components/heru-tool-tip/heru-tool-tip";
@import "view-components/list-menu/list-menu";
@import "view-components/button/app-buttons";
@import "view-components/data-grid/data-grid";
@import "view-components/file-menu-bar/file-menu-bar";
@import "view-components/sticky-panel/sticky-panel";
@import "view-components/tiles/tile-component";
@import "view-components/ribbon/ribbon";
@import "view-components/toggle-menu/toggle-component";
@import "view-components/info-panel/info-panel";
@import "view-components/title-area/title-area";
@import "view-components/text-input/text-input";
@import "view-components/wizard/wizard";
@import "view-components/divider-line/divider";
@import "view-components/modal/modal";
@import "view-components/footer/footer";
@import "view-components/card/card-component";
@import "view-components/cards-area/card-area";

@import "view-components/base-grid/base-grid";

@import "views/catalog-views/catalog-details/single-product-page";
@import "views/media-library/media-library";
@import "views/_catman-configuration/catman-specific-wizards";


.catman-app{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  .data-grid{
    flex-grow: 1;
  }
  .title-area{
    margin: 1rem;
  }
}

//Common items
.catman-app {

  .app-tool-tip{
    .title-area{
      margin: 1rem;
      grid-column-start: 1;
      grid-column-end: 1;
    }
  }
  .title-area{
    margin: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .toggle-container {
    grid-column-start: 3;
    grid-column-end: 7;
  }
}

.emphasize{
  font-weight: 700;
}