body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin stretch-all-absolute{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Regular'), url(./fonts/proximanova-reg.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url(./fonts/sofia-reg.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url(./fonts/sofia-bold.woff) format('woff');
  font-weight: 400;
}

