@import "../../../app-colors";

.image-hero{
  align-self: center;
  max-width: 414px;
  overflow: hidden;
}

.single-product-view{
  height: 100%;
  overflow-x: auto;
  display: inline-grid;
  grid-template-columns: 25% auto;
  width: 100%;
}

.product-card {
  background-color: white;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
}

.data-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  flex-flow: row;
  flex-wrap: wrap !important;
}

.data-section-readonly{
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  .tiny-label{
    font-size: 0.75rem;
  }
  .data-value{
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
  }
}

.product-view{
  padding: 0;
}
.nav-link{
  user-select: none;
  &.single-product-back{
    text-decoration: none;
    display: inline-grid;
    &.active{
      .btn-label{
        color: $black_60;
      }
    }
    &.active .hover-panel{
      background-color: white;
    }
    .hover-panel{
      background-color: white;
    }
  }
}


.single-prod-menu{
  margin: 0;
  padding: 0.5rem 0 0.5rem 1.25rem;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;

  ul{
    padding: 0;
    list-style-type: none;
  }
  li{
    padding: 0.25rem 0 0.25rem 0.25rem;
    font-weight: 600;
    font-size: 0.75rem;
    user-select: none;
    &:hover{
      background-color: $Primary_shade;
      color: white;
    }
  }
}

