@import "../../app-colors";

.st0{fill:#070707;}
.st1{fill:none;stroke:#FFFFFF;stroke-width:1.047;stroke-miterlimit:10;}
.st2{fill:#05778C;}
.st3{fill:none;stroke:#FFFFFF;stroke-width:0.6742;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.ui-icon{
  height:1rem;
  width:1rem;
}

.down-arrow-icon{
  .filled{
    fill:$black_50;
  }
  &.ui-icon{
    height: 0.5rem;
  }
}


