@import "../../app-colors";

.st0{fill:#070707;}
.st1{fill:none;stroke:#FFFFFF;stroke-width:1.047;stroke-miterlimit:10;}
.st2{fill:#05778C;}
.st3{fill:none;stroke:#FFFFFF;stroke-width:0.6742;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.st0{fill:#FFFFFF;}
.st1{fill:#4D4D4D;}
.st2{fill:none;stroke:#4D4D4D;stroke-miterlimit:10;}



.st1a{
  fill:none;
  stroke:#05778C;
  stroke-width:2.698;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.icon-go-arrow{
  .stroked{
    pointer-events: none;
    fill:none;
    stroke:$Primary;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }
}


.stroked, .stroked-highlight{
  stroke-miterlimit:10;
  stroke-width: 1px;
}

.ui-icon{
  height:1rem;
  width:1rem;
}

.icon-compass{
  .filled-highlight{
    fill: $sky-blue;
  }
  .filled{
    fill:black;
  }
  .stroked{
    stroke: white;
  }
  .stroked-highlight{
    stroke: white;
  }
}

.icon-home, .icon-classes, .icon-attribute-mappings, .icon-catalog, .icon-attributes, .icon-attribute-groups {
  .filled{
    fill: $black_60;
  }
  .stroked{
    stroke: $black_60;
  }
  .stroked-highlight{
    stroke: white;
  }
  .filled-highlight{
    fill: white;
  }
  .no-fill{
    fill:none;
  }
}

.down-arrow-icon{
  .filled{
    fill:$black_50;
  }
  &.ui-icon{
    height: 0.5rem;
  }
}


//CHECKBOXES

.cell{
  &.checkbox-main{
    background-color: white;
  }
}

svg.unchecked{
  .stroked{
    fill:#FFFFFF;
    stroke:#D8D8D8;
    stroke-width:2;
    stroke-miterlimit:10;
  }
  .filled{
    fill:none;
  }
}

svg.checked{
  .filled{
    fill:#05778C;
    stroke:white;
    stroke-width:2;
    stroke-miterlimit:10;
  }
  .filled-highlight{
    fill:white;
  }
}



