@import "../../app-colors";

.menu-container{
  height: 100%;
  .btn-main-action{
    color: $black_70;
    &:visited{
     color: $black_70
    }
    &:hover{

    }
    padding: 0.5rem;
  }
}

.menu-sub-group{
  display: grid;
  grid-template-columns: minmax(12rem, 1fr);
}

.menu-container{
  display: grid;
  grid-template-columns: minmax(25vw, auto) minmax(0, auto);
  height: 100%;
}

.menu-main{
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: transparent;
  grid-row: 1;
  a.main-nav-item{
      text-decoration: none;
  }
}

.info-panel{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 1;
}

.menu-container{
  .info-panel{
    margin: -1rem -1.5rem -2rem 0;
    background-color: white;
  }
}