@import "../../app-colors";

.app-tool-tip{
  width:auto;
  height:auto;
  min-width: 4rem;
  min-height: 2rem;
  position: fixed;
  pointer-events: none;
}

.app-tool-tip{
  user-select: none;
  &.deluxe{
    .tooltip-illustration{
      height: 6rem;
      width: 100%;
    }
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $black_10;
    width: 30vw;
    @include drop-shadow-offset;
    @include blurred-bg-dark-65;
    display: grid;
    grid-template-columns: auto 1.5rem;
    color: white;
    h3{
      grid-row: 1;
      grid-column: 1;
      align-self: center;
      font-family: Sofia Pro;
      font-weight: 300;
      font-size: 1rem;
      margin-bottom: -0.25rem;
      align-self: flex-start;
    }
    p{
      font-size: 0.65rem;
      line-height: 0.65rem;
    }
    .tool-tip-icon{
      grid-row: 1;
      grid-column: 2;
      align-self: center;
    }
    .tool-tip-copy{
      font-size: 0.75rem;
      grid-row: 2;
    }
  }
}



.frosted-bg{
  @include blurred-bg-dark-40;
}

.no-fade{  opacity: 1; z-index: 11000; }
.fade-1{  opacity: .8; z-index: 11000;}
.fade-11{  opacity: .7; z-index: 11000;}
.fade-2{  opacity: .6; z-index: 11000;}
.fade-21{  opacity: .5; z-index: 11000;}
.fade-3{  opacity: .4; z-index: 11000;}
.fade-31{  opacity: .3; z-index: 11000;}
.fade-4{  opacity: .2; z-index: 11000;}
.fade-41{  opacity: .1; z-index: 11000;}
.fade-5{  opacity: 0; z-index: 11000;}