@import "../../app-colors";

.app-tool-tip{
  width:auto;
  height:auto;
  min-width: 4rem;
  min-height: 2rem;
  position: fixed;
  pointer-events: none;
}

.app-tool-tip{
  user-select: none;
  overflow: hidden;

  &.deluxe{
    .title-area{
      margin: 0;
      color: white;
      p{
        font-size: 0.75rem;
        line-height: 0.8rem;
      }
    }
    &.embedded-tip{
      width: 10rem;
      height: auto;
      .tooltip-illustration{
        height: 4rem;
        padding-top: 0;
      }
    }
    &.media{
      width: auto !important;
      padding: 0 !important;
      grid-template-columns: auto auto !important;
      backdrop-filter: none !important;
      border: 1px solid $black_70;
    }

    .tooltip-illustration{
      height: 6rem;
      width: 100%;
      padding-top: 1rem;
    }
    .tooltip-photo{
      height: 40vh;
      margin-bottom: -0.5rem;
    }
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $black_10;
    width: 30vw;
    @include drop-shadow-offset;
    @include blurred-bg-dark-65;
    display: grid;
    grid-template-columns: auto 1.5rem;
    color: white;
    h3{
      grid-row: 1;
      grid-column: 1;
      align-self: center;
      font-family: Sofia Pro;
      font-weight: 300;
      font-size: 1rem;
      margin-bottom: -0.25rem;
      align-self: flex-start;
    }
    p{
      font-size: 0.65rem;
      line-height: 0.65rem;
      margin-top: 0.25rem;
    }
    .tool-tip-icon{
      grid-row: 1;
      grid-column: 2;
      align-self: center;
    }
    .tool-tip-copy{
      font-size: 0.75rem;
      grid-row: 2;
    }
  }
}
.st0{fill:#070707;}
.st1{fill:#FFFFFF;stroke:#7C7C7C;stroke-width:0.8905;stroke-miterlimit:10;}
.st2{fill:#7C7C7C;}

.info-icon-image{
  .filled-bg{
    fill:#070707;
  }
  .filled{
    fill:#FFFFFF;
    stroke:#7C7C7C;
    stroke-width:0.8905;
    stroke-miterlimit:10;
  }
  .filled-highlight{
    fill:#7C7C7C
  }
}

.info-icon-part-number{
  .filled-bg{
    fill:#070707;
  }
  .filled{
    fill:#FFFFFF;
    stroke:#534741;
    stroke-width:0.4753;
    stroke-miterlimit:10;
  }
  .filled-highlight{
    fill:#534741;
  }
}

.frosted-bg{
  @include blurred-bg-dark-40;
}

.no-fade{  opacity: 1; z-index: 11000; }
.fade-1{  opacity: .8; z-index: 11000;}
.fade-11{  opacity: .7; z-index: 11000;}
.fade-2{  opacity: .6; z-index: 11000;}
.fade-21{  opacity: .5; z-index: 11000;}
.fade-3{  opacity: .4; z-index: 11000;}
.fade-31{  opacity: .3; z-index: 11000;}
.fade-4{  opacity: .2; z-index: 11000;}
.fade-41{  opacity: .1; z-index: 11000;}
.fade-5{  opacity: 0; z-index: 11000;}

