@import "../../../app-colors";
@import "../../../index";

.overlay{
  background-color: $translucent-black-40;
  @include blurred-bg-dark-65;
  @include stretch-all-absolute;
  z-index: 990;
}

.header-area{
  background-color: $brand-dark-grey;
  padding: 0.75rem 0 0.75rem;
  display: grid;
  .header-item{
    grid-row: 1;
  }
}

.catman-main-nav{
  .btn-main-action.nav-link {
    .button-decorator{
      grid-template-columns: 2rem auto auto;
    }
  }
}

.catman-main-nav{
  background-color: $grey-main;
  margin-top: 1rem;
  border: 1px solid #cecece;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

